#tama {
width: 50px;
height:50px;
background-color:red;
position:fixed;
visibility: hidden;   
border-radius: 50%; 
}

h1 {
	text-align: center;
}

.lights-out {
	background-color: gray;
}

#Form {
	border: 1px black solid;
	border-radius: 10%;
	margin: 10px;
	padding: 20px;
	font-size: 25px;
}

button {
	display: block;
	margin: auto 0;
}

.flex-side {
    width: 200px;
    height: 100%;
    border: 1px black solid;
    border-radius: 10%;
    text-align: center;
    /*background: #369;*/
}

.flex-center {
	display: flex;
    justify-content: center;
    align-items: center;
    /*text-align: center;*/
    width: 700px;
    height: 100%;
    border: 1px black solid;
    border-radius: 10%;

    /*background: #369;*/
}

#flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1200px;
    height: 550px;
    /*border*/: 1px black solid;
    margin: 0 auto;
}